.sidebar {
  /* padding-top: 50px; */
  /* margin-right: 75px; */
  height: 100%;
  width: 16%;
  /* width: ; */
  position: fixed;
  overflow: hidden;
  z-index: 9999;
  color: #ffff;

  background-color: rgba(17, 24, 39);
}
.logo {
  display: "flex";
  justify-content: center;
}
.box {
  display: flex;
  margin-top: 10px;
  font-family: Verdana, sans-serif;
  color: rgba(107, 114, 128);
  font-size: 14px;
  align-items: center;
  /* padding: 5px 5px 5px 10px; */
}
.box:hover {
  color: #ffff;
  /* opacity: 0.9; */
  background-color: rgba(75, 85, 99);
  /* width: 100vw; */
}
.active {
  color: #ffff;
  background-color: rgba(75, 85, 99);
  border-left: 4px solid white;
}

.inactive {
  background-color: rgba(17, 24, 39);
}

.iconName {
  padding-left: 20px;
}
.Linkdeco {
  /* color: rgba(107, 114, 128); */
  text-decoration: none;
}

li {
  list-style-type: none;
}
.drawer {
  background-color: rgba(17, 24, 39);
}

/* } */

/* @media only screen and (max-width:1480px){}
@media only screen and (max-width:1366px){}
@media only screen and (max-width:1280px){} */
/* @media only screen and (max-width: 1024px) {
  .box {
    display: flex;
    margin-top: 10px;
    font-family: Verdana, sans-serif;
    color: rgba(107, 114, 128);
    font-size: 14px;
    align-items: center;
    padding: 5px 5px 5px 10px;
  }
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 380px) { */
/* } */

.icons {
  color: rgba(107, 114, 128);
  width: 40px;
}
.link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-left: 20px;
  color: rgba(107, 114, 128);
}
.link:hover {
  color: aliceblue;
}
/* ul:hover {
  color: #ffff;
} */
